@charset "utf-8";
.header {
    padding: 30px;
    text-align: center;
    color: #BD4547;
    font-size: 30px;
	background-color: #F3B7B8;
}
.topnav {
  overflow: hidden;
  background-color: #8B3133;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
color: aliceblue; font-size: 22px;}

 .active {
  background-color: #62191A;
  color: white;
}
p {text-align: justify left; font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; font-size: 20px;}
body {background-image:url("Images/sanvals.jpeg") }
footer {
  text-align-last: left;
    width: 96%;
    padding: 40px; padding-bottom: 15px;
    clear: both;
    background: #8B3133;
	text-align: left;
    font-size: 120%; color: #FFFFFF; margin: 0;
}
.btn {
  border: none; 
  color: #ffffff; 
  padding: 14px 28px; 
  cursor: pointer; background-color: #8B1B1D; font-size: 15px;
}